:root {
    --bg-body: var(--bg-body-dark);
    --bg-body-dark: #111111;
    --bg-body-light: #FAFAFA;

    --sudoku-cell-size: 60px;

    --bg-sudoku-cell: var(--bg-sudoku-cell-dark);
    --bg-sudoku-cell-dark: #1F1F1F;
    --bg-sudoku-cell-light: #EAEAEA;

    --bg-sudoku-cell-hover: var(--bg-sudoku-cell-hover-dark);
    --bg-sudoku-cell-hover-dark: #3F3F3A;
    --bg-sudoku-cell-hover-light: #D0DAD2;

    --sudoku-cell-active-fill: var(--sudoku-cell-active-fill-dark);
    --sudoku-cell-active-fill-dark: rgba(255, 255, 255, 0.1);
    --sudoku-cell-active-fill-light: rgba(0, 0, 0, 0.15);

    --text-sudoku-cell-color: var(--text-sudoku-cell-color-dark);
    --text-sudoku-cell-color-dark: #8F8F8F;
    --text-sudoku-cell-color-light: #666656;

    --text-sudoku-info-color: var(--text-sudoku-info-color-dark);
    --text-sudoku-info-color-dark: #9F9F9F;
    --text-sudoku-info-color-light: #666656;

    --bg-nav: var(--bg-nav-dark);
    --bg-nav-dark: #1F1F1F;
    --bg-nav-light: #F0F0F0;

    --text-nav: var(--text-nav-dark);
    --text-nav-dark: #8F8F7F;
    --text-nav-light: #666646;

    --sodoku-cell-disabled-fill: var(--sodoku-cell-disabled-fill-dark);
    --sodoku-cell-disabled-fill-dark: repeating-linear-gradient(
        -45deg,
        #1F1F1F,
        #1F1F1F 10px,
        #2F2F2F 10px,
        #2F2F2F 20px
    );
    --sodoku-cell-disabled-fill-light: repeating-linear-gradient(
        -45deg,
        #F0F0F0,
        #F0F0F0 10px,
        #E5E5E5 10px,
        #E5E5E5 20px
    );

    --border-radius-sudoku-cell: 8px;
    --sodoku-cell-border: #565254;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-body);
    height: 100vh;
    overflow-x: hidden;
    user-select: none;
    overflow: hidden;
}

/* ------------------------------ */
/*         NAVIGATION             */
/* ------------------------------ */

nav {
    font-family: 'Bebas Neue', cursive;
    background-color: var(--bg-nav);
    color: #FFF;
    font-size: 2rem;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.nav-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 1000px;
    z-index: 1;
}

.toggle-theme {
    font-size: 1.5rem;
    color: var(--nav-text-color);
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    border-radius: var(--border-radius-sudoku-cell);
}

.toggle-theme.dark:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.toggle-theme:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.bxs-moon {
    display: none;
}

.bxs-sun {
    display: inline-block;
}

.dark .bxs-moon {
    display: inline-block;
}

/* ------------------------------  */
/*         SUDOKU MENU             */
/* ------------------------------  */

.menu {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.2s ease-in-out all;
    z-index: 0;
}

.menu > * {
    border-radius: var(--border-radius-sudoku-cell);
    color: var(--text-sudoku-cell-color);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: outline 1s ease-in-out;
    outline: 1px solid transparent;
}

.row-menu-difficulty {
    flex-direction: row;
    background-color: none;
    transition: none;
    outline: none;
    gap: 1rem;
}

.row-menu-difficulty > * {
    width: 4rem;
    height: 4rem;
    font-weight: 900;
    font-size: 1.2rem;
    outline: 1px solid transparent;
    transition: outline 1s ease-in-out;
    border-radius: var(--border-radius-sudoku-cell);
    background-color: var(--bg-sudoku-cell);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-menu-play, #button-menu-continue, #button-menu-restart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-sudoku-cell);
    color: var(--text-sudoku-cell-color);
}

#button-menu-play:hover, #button-menu-continue:hover, #button-menu-restart:hover, .row-menu-difficulty > *:hover {
    background-color: var(--sudoku-cell-active-fill);
    outline: 1px solid var(--sodoku-cell-border);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.divider {
    /* background-color: #8FAE4D; */
    background: linear-gradient(90deg, #FFFFFF00, var(--text-sudoku-info-color), #FFFFFF00);
    width: 100%;
    height: 2px;
}

.row-menu-difficulty > *:hover > * {
    scale: 1.2;
}

.row-menu-difficulty > * > * {
    scale: 1;
    transition: scale 100ms ease;
}

/* ------------------------------  */
/*         SUDOKU GAME             */
/* ------------------------------  */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% + 105px);
    width: 100vw;
    min-height: 550px;
    overflow: hidden;
}

#game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out transform;
}

.dark .bxs-sun {
    display: none;
}

.incorrect, .incorrect > .sudoku-cell-answer {
    animation: error 150ms 2 ease-in;
}

.health-decrease {
    animation: health-decrease 150ms 2 ease-in;
}

.sudoku-container {
    display: grid;
    grid-template-areas: 
        "a a b"
        "a a b"
        "c c b"
    ;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 1rem;
    position: absolute;
    transform: translateX(60px);
    transition: 1s ease-in-out transform;
}

#sudoku-field {
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(9, auto);
    gap: 0.25rem;
}

.sudoku-cell {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: var(--bg-sudoku-cell);
    border-radius: var(--border-radius-sudoku-cell);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: 900;
    font-size: 1.2rem;
    outline: 1px solid transparent;
    transition: outline 1s ease-in-out;
}

.sudoku-cell.active:hover {
    background-color: var(--sudoku-cell-active-fill);
    outline: 1px solid var(--sodoku-cell-border);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.sudoku-cell.disabled {
    background: var(--sodoku-cell-disabled-fill);
}

.sudoku-cell-answer {
    user-select: none;
    color: var(--text-sudoku-cell-color);
    cursor: default;
}

.sudoku-cell-note {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;
    font-size: small;
    position: absolute;
    color: var(--text-sudoku-cell-color);
    padding: 2px;
    text-align: center;
    align-items: center;
}

/* ----------------------------------- */
/*         GAME INFORMATION            */
/* ----------------------------------- */

#hints {
    position: absolute;
    transform: translate(120%, 35%);
    border-radius: 100px;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sudoku-info {
    grid-area: c;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--text-sudoku-info-color);
    font-weight: 900;
    font-size: 1.2rem;
    gap: 8px;
}

#sudoku-info *:nth-child(even) {
    margin-right: 24px;
}

#sudoku-options {
    grid-area: b;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 4px;
}

#sudoku-options > * {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--bg-sudoku-cell);
    border-radius: var(--border-radius-sudoku-cell);
    color: var(--text-sudoku-cell-color);
    font-size: 1.1rem;
}

#sudoku-options > *:hover {
    cursor: pointer;
    box-shadow: inset 0 0 100px 100px var(--sudoku-cell-active-fill);
}

#sudoku-options > *:nth-child(3n) {
    margin-bottom: 0.75rem;
}

.button-active {
    border: 3px solid var(--sodoku-cell-border);
}

/* ----------------------------------- */
/*         HINT ANIMATIONS             */
/* ----------------------------------- */

.sudoku-cell.hint {
    animation: hint-background 1000ms 1 cubic-bezier(0.23, 1, 0.320, 1);
}

.hint, .hint > .sudoku-cell-answer {
    animation: hint-text-color 600ms 1 linear;
}

.sudoku-cell.hint::after {
    position: absolute;
    content: '';
    background-color: rgb(239, 200, 117);
    height: 100%;
    animation: hint-swipe 500ms 1 cubic-bezier(0.23, 1, 0.320, 1);
    animation-delay: 200ms;
}

/* #button-hint {
    width: 100px;
    height: 60px;
    background-color: var(--bg-sudoku-cell);
    color: var(--text-sudoku-cell-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-sudoku-cell);
} */

/* ------------------------------ */
/*         BANNER                 */
/* ------------------------------ */

.banner-won {
    position: absolute;
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8FAE4D;
    padding: 2rem;
    font-size: xx-large;
    transform: rotate(-2deg);
    animation: banner-movement 2s infinite ease-in-out alternate-reverse;
    color: white;
    font-weight: bolder;
}

.banner-lost {
    position: absolute;
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb6060;
    padding: 2rem;
    font-size: xx-large;
    transform: rotate(-2deg);
    animation: banner-movement 2s infinite ease-in-out alternate-reverse;
    color: white;
    font-weight: bolder;
}

/* ------------------------------ */
/*         ANIMATIONS             */
/* ------------------------------ */

.up {
    transform: translateY(-100%);
}

.down {
    transform: translateY(100%);
}

@keyframes health-decrease {
    
    0% {
        color: #fb6060;
        drop-shadow: 0px 0px 5px #fb6060;
        transform: rotate(0deg);
    }
    25% {
        color: #fb6060;
        transform: rotate(-5deg);
    }
    75% {
        color: #fb6060;
        transform: rotate(5deg);
    }
    100% {
        color: #fb6060;
        transform: rotate(0deg);
    }

}

@keyframes error {
    
    0% {
        background-color: #fb6060;
        box-shadow: 0px 0px 5px #fb6060;
        transform: rotate(0deg);
        color: #111111;
    }
    25% {
        background-color: #fb6060;
        transform: rotate(-5deg);
        color: #111111;
    }
    75% {
        background-color: #fb6060;
        transform: rotate(5deg);
        color: #111111;
    }
    100% {
        background-color: #fb6060;
        transform: rotate(0deg);
        color: #111111;
    }

}

@keyframes hint-background {
    
    0% {
        background-color: var(--bg-sudoku-cell);
        color: #111111;
    }
    50% {
        background-color: rgb(234, 186, 83);
        box-shadow: 0px 0px 5px rgb(234, 186, 83);
        color: #111111;
    }
    100% {
        background-color: var(--bg-sudoku-cell);
        color: #111111;
    }

}

@keyframes banner-movement {
    
    0% {
        transform: rotate(2deg);
        scale: 1.1;
        
    }

    50% {
        transform: rotate(0deg);
        scale: 1;
    }

    100% {
        transform: rotate(-2deg);
        scale: 1.1;
    }

}

@keyframes hint-text-color {
    
    0% {
        color: #111111;
    }
    100% {
        color: #111111;
    }

}
